@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* Global Styling */
body {
  margin: 0;
  padding: 0;
  background: var(--very-light-grey);
}

:root {
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --bright-orange: hsl(31, 77%, 52%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-grey: hsl(0, 0%, 95%);
}

p {
  font-family: "Lexend Deca", sans-serif;
  color: var(--transparent-white);
  font-size: 15px;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  color: var(--very-light-grey);
  text-transform: uppercase;
}

/* Card Styling */
.card-container {
  display: flex;
  flex-direction: column;
  margin: 5.4em 1.5em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.125em;
}

.card--orange {
  background: var(--bright-orange);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card--orange button {
  color: var(--bright-orange);
}

.card--orange button:hover {
  background: var(--bright-orange);
}

.card--dark-cyan {
  background: var(--dark-cyan);
}

.card--dark-cyan button {
  color: var(--dark-cyan);
}

.card--dark-cyan button:hover {
  background: var(--dark-cyan);
}

.card--very-dark-cyan {
  background: var(--very-dark-cyan);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card--very-dark-cyan button {
  color: var(--very-dark-cyan);
}

.card--very-dark-cyan button:hover {
  background: var(--very-dark-cyan);
}

.card img {
  height: 2.5em;
  width: 4em;
}

.card h1 {
  font-size: 2.125rem;
  margin: 1.17em 0;
}

.card p {
  margin: 0 0 1.75em;
  line-height: 2rem;
  max-width: 55ch;
}

.card-button {
  height: 3.125em;
  width: 9rem;
  border-radius: 30px;
  border: none;
}

.card-button:hover {
  color: var(--transparent-white);
  border: 2px solid var(--transparent-white);
}

/* Media queries */
@media (min-width: 700px) {
  .card {
    padding: 3.125em 12%;
  }
}

@media (min-width: 786px) {
  .card-container {
    margin: 5.4em 4em;
  }
}

@media (min-width: 930px) {
  .card-container {
    margin: 5.4em 6.5em;
  }
}

@media (min-width: 1024px) {
  .card-container {
    flex-direction: row;
    margin: 5.4em 1.5em;
  }

  .card {
    padding: 3.125em;
  }
}

@media (min-width: 1024px) {
  .card-container {
    margin: 5.4em 1.5em;
  }
}

@media (min-width: 1440px) {
  .card-container {
    margin: 171px 15.6em;
  }

  .card {
    padding: 3.25em;
  }

  .card--orange {
    border-top-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
  }

  .card--very-dark-cyan {
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 8px;
  }
}

/* Attribution Styling */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
